body {
	background-color: #f5f5dd;
	margin-left: 50px;
	margin-top: 30px;
}
div {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}
.pierszy {
	background-color: rgba(0, 0, 0, 1);
}
.drugi {
	background-color: rgba(0, 0, 0, 0.7);
}
.trzeci {
	background-color: rgba(0, 0, 0, 0.3);
}
.czwarty {
	background-color: rgba(0, 0, 0, 0.1);
}
